html {
  font-family: 'Oswald', sans-serif;
  font-family: 'Nixie One', cursive;
  font-family: 'VT323', monospace;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

body {
  /* this is to get rid of the default margins that come with the body, there was basically a white border I wanted to remove */
  margin: 0;
  background-color: black;
}

#navbar {
  font-family: 'Oswald', sans-serif;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-end;
  width: 100%;
  background-color: #222831;
  z-index: 10;
}

#navbar ul {
  list-style-type: none;
}

#navbar li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

/* welcome section */
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 1300px;
  margin: auto;
  width: 960px;
  background-color: black;
}

.intro {
  text-align: center;
  /* background-color: purple; */
  padding-top: 100px;
  padding-bottom: 31px;
  z-index: 1;
  animation-name: glowing-name;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14, 0 0 30px #39FF14, 0 0 40px #39FF14;
}

@keyframes glowing-name {
  20% {
    text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14;
    opacity: 0.5;
  }

  21% {
    text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14;
    opacity: 0;
  }

  22% {
    text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14;
    opacity: 0.5;
  }

  23% {
    text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14;
    opacity: 0.2;
  }

  24% {
    text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14, 0 0 30px #39FF14, 0 0 40px #39FF14;
    opacity: 1;
  }
}

#welcome-section h1 {
  font-size: 50px;
}

#welcome-section p {
  font-size: 20px;
}

.programming-icons {
  height: 200px;
  width: 960px;
  /* background:pink; */
}

/* computer setup art */
.computer-art-container {
  /* background-color: teal; */
  height: 520px;
  width: 960px;
  /* we want all the children to be positioned relative to the top left corner of this container, and the way absolute positioning works
  is that it uses the first parent with a relative or absolute position, so if this wasn't here, and all the children used absolute positioning, the top left corner would be
  the top left of the entire screen, not the top left of this container, which is what we want */
  position: relative;
}

/* this is everything within computer-setup-art */
.computer-art-container * {
  position: absolute;
}

.desk {
  position: absolute;
  top: 320px;
  height: 200px;
  width: 960px;
  background-color: black;
  z-index: 1;
}

.desk .surface {
  height: 20px;
  width: 960px;
  background-color: #99602d;
  border-radius: 5px;
}

.desk .legs {
  top: 20px;
  left: 130px;
  height: 20px;
  width: 700px;
  background-color: #26373f;
  border-radius: 5px;
  border-top: 5px black solid;
}

.desk .legs::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  height: 150px;
  width: 50px;
  background-color: #26373f;
  border-radius: 5px;
  border-top: 5px black solid;
}

.desk .legs::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 640px;
  height: 150px;
  width: 50px;
  background-color: #26373f;
  border-radius: 5px;
  border-top: 5px black solid;
}

.diglett {
  width: 100px;
  height: auto;
  top: 140px;
  left: 680px;
}

.gaming-pc {
  top: 50px;
  left: 200px;
  height: 150px;
  width: 94px;
  background: linear-gradient(to bottom right, rgb(25, 25, 25), rgb(50, 50, 50));
  background: rgb(40, 40, 40);
  border-radius: 2px;
}

.gaming-pc .bottom {
  height: 100px;
  width: 100px;
  top: 50px;
  background: linear-gradient(to top left, rgb(25, 25, 25), rgb(50, 50, 50));
  background: rgb(30, 30, 30);
  /* background:teal; */
  clip-path: polygon(0 65%, 100% 0, 100% 100%, 0 100%);
}

.gaming-pc .power-button {
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(255, 88, 88);
  box-shadow: 0px 0px 10px red;
}

.gaming-pc .power-button::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgb(255, 88, 88);
  box-shadow: 0px 0px 10px red;
}

.gaming-pc .power-button::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgb(255, 88, 88);
  box-shadow: 0px 0px 10px red;
}

.gaming-pc .light-strip1 {
  top: 76px;
  left: -10px;
  height: 6px;
  width: 116px;
  transform: rotate(-33deg);
  background: rgb(255, 88, 88);
  box-shadow: 0px 0px 10px red;
}

.gaming-pc .light-strip2 {
  left: 94px;
  height: 50px;
  width: 6px;
  background: rgb(255, 88, 88);
  box-shadow: 0px 0px 10px red;
}

.gaming-pc .corner-cut1 {
  height: 10px;
  width: 10px;
  clip-path: polygon(100% 0, 0 0, 0 100%);
  background: black;
}

.gaming-pc .corner-cut2 {
  top: 130px;
  left: 80px;
  height: 20px;
  width: 20px;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  background: black;
}

/* make the lights change colors on the pc */
.gaming-pc .light-strip1, .gaming-pc .light-strip2, .gaming-pc .power-button, .gaming-pc .power-button::before, .gaming-pc .power-button::after {
  animation-name: pc-rainbow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes pc-rainbow {
  100%, 0% {
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
    background: rgb(255, 88, 88);
  }

  8% {
    box-shadow: 0px 0px 10px rgb(255, 127, 0);
  }

  16% {
    box-shadow: 0px 0px 10px rgb(255, 255, 0);
  }

  25% {
    box-shadow: 0px 0px 10px rgb(127, 255, 0);
    background: rgb(171, 255, 88);
  }

  33% {
    box-shadow: 0px 0px 10px rgb(0, 255, 0);
    background: rgb(88, 255, 88);
  }

  41% {
    box-shadow: 0px 0px 10px rgb(0, 255, 127);
    background: rgb(88, 255, 171);
  }

  50% {
    box-shadow: 0px 0px 10px rgb(0, 255, 255);
    background: rgb(88, 255, 255);
  }

  58% {
    box-shadow: 0px 0px 10px rgb(0, 127, 255);
    background: rgb(88, 171, 255);
  }

  66% {
    box-shadow: 0px 0px 10px rgb(0, 0, 255);
    background: rgb(88, 88, 255);
  }

  75% {
    box-shadow: 0px 0px 10px rgb(127, 0, 255);
    background: rgb(171, 88, 255);
  }

  83% {
    box-shadow: 0px 0px 10px rgb(255, 0, 255);
    background: rgb(255, 88, 255);
  }

  91% {
    box-shadow: 0px 0px 10px rgb(255, 0, 127);
    background: rgb(255, 88, 171);
  }
}

.desk-content {
  height: 320px;
  width: 960px;
  /* background-color: rgb(245, 159, 237); */
}

.desk-content .computer {
  position: relative;
  top: 110px;
  left: 365px;
}

.desk-content .computer-screen {
  position: absolute;
  height: 100px;
  width: 200px;
  border: 15px solid rgb(55, 55, 55);
  border-radius: 5px;
  border-bottom-width: 20px;
  border-top-width: 20px;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}

.desk-content .monitor-stand {
  position: relative;
  top: 194px;
  left: 65px;
  height: 10px;
  width: 100px;
  background-color: white;
  border-radius: 40px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 0;
}

.desk-content .monitor-stand::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 25px;
  height: 20px;
  width: 50px;
  background-color: #f2eee5;
  border-bottom: 2px solid #d4d1ca;
  border-top: 2px solid #d4d1ca;
  z-index: 0;
}

.desk-content .monitor-stand::after {
  content: "";
  position: absolute;
  bottom: 34px;
  left: -65px;
  height: 30px;
  width: 230px;
  background-color: white;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 0;
}

.desk-content .monitor-stand .dot {
  position: absolute;
  height: 15px;
  width: 15px;
  left: 42px;
  bottom: 42px;
  border-radius: 50%;
  background-color: rgb(55, 55, 55);
  z-index: 1;
}

.desk-content .keyboard {
  top: 200px;
  left: 30px;
  height: 10px;
  width: 200px;
  background-color: rgb(55, 55, 55);
  box-shadow: 0px -5px 10px red;
  animation-name: keyboard-rainbow;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
}

@keyframes keyboard-rainbow {
  100%, 0% {
    box-shadow: 0px -5px 10px rgb(255, 0, 0);
  }

  8% {
    box-shadow: 0px -5px 10px rgb(255, 127, 0);
  }

  16% {
    box-shadow: 0px -5px 10px rgb(255, 255, 0);
  }

  25% {
    box-shadow: 0px -5px 10px rgb(127, 255, 0);
  }

  33% {
    box-shadow: 0px -5px 10px rgb(0, 255, 0);
  }

  41% {
    box-shadow: 0px -5px 10px rgb(0, 255, 127);
  }

  50% {
    box-shadow: 0px -5px 10px rgb(0, 255, 255);
  }

  58% {
    box-shadow: 0px -5px 10px rgb(0, 127, 255);
  }

  66% {
    box-shadow: 0px -5px 10px rgb(0, 0, 255);
  }

  75% {
    box-shadow: 0px -5px 10px rgb(127, 0, 255);
  }

  83% {
    box-shadow: 0px -5px 10px rgb(255, 0, 255);
  }

  91% {
    box-shadow: 0px -5px 10px rgb(255, 0, 127);
  }
}

.desk-content .speakers {
  position: absolute;
  top: 215px;
  left: 250px;
}

.desk-content .speaker {
  position: absolute;
  height: 100px;
  width: 75px;
  background-color: #26373e;
  border-radius: 8px;
  z-index: 0;
}

.desk-content .speaker::before {
  content: "";
  position: absolute;
  top: 100px;
  left: 10px;
  height: 5px;
  width: 20px;
  background-color: #1e282d;
  border-radius: 8px;
  z-index: 0;
}

.desk-content .speaker::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 45px;
  height: 5px;
  width: 20px;
  background-color: #1e282d;
  border-radius: 8px;
  z-index: 0;
}

.desk-content .speaker .little-circle {
  position: absolute;
  left: 23px;
  top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #1a232a;
  z-index: 1;
}

.desk-content .speaker .little-circle::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
}

.desk-content .speaker .little-circle::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #446b7f;
  z-index: 3;
}

.desk-content .speaker .big-circle {
  position: absolute;
  left: 13px;
  top: 40px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #1a232a;
  z-index: 1;
}

.desk-content .speaker .big-circle::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
}

.desk-content .speaker .big-circle::after {
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #446b7f;
  z-index: 3;
}

.desk-content .mouse {
  top: 190px;
  left: 237px;
  height: 20px;
  width: 40px;
  background: white;
  border-radius: 70% 70% 35% 35%;
  box-shadow: inset -8px 1px rgb(230, 230, 230);
  z-index: 0;
}

@keyframes glowing-bottle-top {
  50% {
    /* box-shadow: 0 0 15px #63edf0, 0 0 50px #63edf0, 0 0 10px white; */
    box-shadow: 0 0 15px #63edf0, 0 0 50px #63edf0, inset 0 0 10px white, inset 0 0 15px white;
  }
}

@keyframes glowing-bottle-bottom {
  50% {
    /* box-shadow: 0 0 15px #63edf0, 0 0 50px #63edf0, 0 0 10px white; */
    box-shadow: 0 0 15px #63edf0, 0 0 50px #63edf0, inset 0 0 10px white, inset 0 0 20px white, inset 0 0 30px white;
  }
}

.nuka-cola .sticker {
  top: 20px;
  left: 1px;
  height: 35px;
  width: 30px;
  z-index: 1;
}

.desk-content .minecraft-head {
  height: 64px;
  width: 64px;
  left: 800px;
  top: 256px;
  background-color: #212121;
}

.minecraft-head .eye-white {
  height: 8px;
  width: 24px;
  background-color: #e07afa;
  /* box-shadow: 0px 0px 5px #e07afa; */
}

.minecraft-head .eye-pupil {
  height: 8px;
  width: 8px;
  background-color: #cd00fc;
  /* box-shadow: 0px 0px 5px #cd00fc; */
}

.minecraft-head .decal1 {
  height: 16px;
  width: 8px;
  background-color: #000008;
}

.minecraft-head .decal2 {
  height: 8px;
  width: 8px;
  background-color: #000008;
}

.minecraft-head .decal3 {
  height: 8px;
  width: 16px;
  background-color: #000008;
}

.nuka-cola {
  left: 750px;
  top: 249px;
  height: 70px;
  width: 30px;
  /* background-color:yellow; */
}

.nuka-cola .bottom {
  position: relative;
  height: 70px;
  width: 30px;
  z-index: 0;
  background: #63edf0;
  border-radius: 40% 40% 20% 20% / 30% 30% 20% 20%;
  z-index: 0;
  box-shadow: 0 0 10px #63edf0;
  border: 1px solid white;
  /* border-top:0px none white; */
}

.nuka-cola .top {
  position: absolute;
  left: 9px;
  top: -38px;
  height: 40px;
  width: 12px;
  background: #63edf0;
  /* background: #63edf0; */
  z-index: 1;
  box-shadow: 0 0 10px #63edf0;
  border: 1px solid white;
  border-top: 0px none transparent;
  border-bottom: 0px none transparent;
}

.nuka-cola .top::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -1px;
  height: 5px;
  width: 14px;
  /* background-image:linear-gradient(rgb(98, 237, 240, 0), rgb(98, 237, 240)); */
  background: #8f8f8f;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  z-index: 0;
}

.nuka-cola .top {
  animation-name: glowing-bottle-top;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  /* box-shadow: inset 0 0 10px white; */
}

.nuka-cola .bottom {
  animation-name: glowing-bottle-bottom;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  /* box-shadow: inset 0 0 10px white; */
}

.desk-content .pokeball {
  left: 30px;
  top: 270px;
  height: 50px;
  width: 50px;
  animation: 1s linear infinite pokeball-spin;
}

@keyframes pokeball-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pokeball .top {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
}

.pokeball .bottom {
  top: 25px;
  height: 25px;
  width: 50px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: white;
}

.pokeball .center {
  top: 22px;
  height: 6px;
  width: 50px;
  background-color: black;
}

.pokeball .center::before {
  content: "";
  position: absolute;
  left: 12.5px;
  top: -9px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: black;
}

.pokeball .center::after {
  content: "";
  position: absolute;
  left: 16px;
  top: -5px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: white;
}

.desk-content .coffee {
  height: 60px;
  width: 60px;
  left: 308px;
  top: 260px;
  /* filter: drop-shadow(0px 0px 5px grey); */
  /* background:green; */
}

.coffee .base {
  height: 60px;
  width: 60px;
  clip-path: polygon(15% 0, 85% 0, 75% 100%, 25% 100%);
  background-color: white;
}

.coffee .wrap {
  top: 20px;
  height: 25px;
  width: 60px;
  clip-path: polygon(15% 0, 85% 0, 80% 100%, 20% 100%);
  background-color: rgb(153, 92, 29);
}

.coffee .top {
  left: 5px;
  height: 5px;
  width: 50px;
  background-color: rgb(230, 230, 230);
  border-radius: 1px;
}

.coffee .top::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 5px;
  height: 5px;
  width: 40px;
  background-color: white;
  border-radius: 1px;
}

.desk-content .lamp {
  position: absolute;
  top: 20px;
  left: 120px;
  height: 0px;
  width: 0px;
  /* background:pink; */
}

.lamp .base {
  position: absolute;
  top: 290px;
  left: 30px;
  height: 10px;
  width: 70px;
  border-radius: 4px;
  background: #992b1f;
}

.lamp .base::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 10px;
  height: 25px;
  width: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: #cc584b;
  z-index: 1;
}

.lamp .arm1 {
  position: absolute;
  top: 170px;
  left: 40px;
  height: 100px;
  width: 10px;
  transform: skew(20deg);
  background: #25373e;
  z-index: 0;
}

.lamp .arm1::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -8px;
  height: 25px;
  width: 25px;
  transform: skew(-20deg);
  border-radius: 50%;
  background: #cb5c50;
}

.lamp .arm1::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -3px;
  height: 15px;
  width: 15px;
  transform: skew(-20deg);
  border-radius: 50%;
  background: black;
}

.lamp .arm2 {
  position: absolute;
  top: 75px;
  left: 48px;
  height: 100px;
  width: 12px;
  transform: skew(-30deg);
  background: #25373e;
  z-index: 0;
}

.lamp .arm2::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -8px;
  height: 25px;
  width: 25px;
  transform: skew(30deg);
  border-radius: 50%;
  background: #cb5c50;
}

.lamp .arm2::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -3px;
  height: 15px;
  width: 15px;
  transform: skew(30deg);
  border-radius: 50%;
  background: black;
}

.lamp .head {
  transform: rotate(45deg);
  top: 40px;
  left: 74px;
  height: 45px;
  width: 45px;
  border-radius: 15%;
  background: #cc584b;
}

.lamp .head::before {
  content: "";
  position: absolute;
  transform: rotate(-90deg);
  left: 22px;
  top: 6px;
  border-bottom: 32px solid #bd5044;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  height: 0;
  width: 45px;
}

.lamp .head:hover+.lightbulb {
  background-color: #fbf2cc;
}

.lamp .head .ridge {
  height: 12px;
  width: 5px;
  border-radius: 10px;
  background: #984039;
}

.lamp .lightbulb {
  left: 125px;
  top: 97px;
  height: 10px;
  width: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: rotate(-45deg);
  background: rgb(211, 211, 211);
}

.lamp .light {
  height: 490px;
  width: 490px;
  left: 107px;
  top: 73px;
  clip-path: polygon(0 10%, 10% 0, 100% 58%, 20% 58%);
  background: rgb(233, 218, 140);
  opacity: .2;
  z-index: 0;
}

.desk-content .pencil-holder {
  left: 100px;
  top: 240px;
  height: 80px;
  width: 50px;
  /* background-color: green; */
}

.pencil-holder .base {
  position: relative;
  top: 40px;
  height: 40px;
  width: 40px;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  background-color: rgb(45, 45, 45);
  z-index: 1;
}

.pencil-holder .pencil {
  top: 10px;
  left: 10px;
  height: 50px;
  width: 6px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: rgb(241, 210, 0);
}

.pencil-holder .pencil::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: rgb(203, 100, 100);
}

.pencil-holder .pencil::after {
  content: "";
  position: absolute;
  top: 6px;
  height: 4px;
  width: 6px;
  background-color: rgb(180, 180, 180);
}

.pencil-holder .pen {
  transform: rotate(25deg);
  top: 10px;
  left: 25px;
  height: 50px;
  width: 6px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: rgb(200, 200, 200);
}

.pencil-holder .pen::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 6px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  background-color: rgb(3, 47, 199);
}

.desk-content .dragon-ball {
  left: 880px;
  top: 270px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #ee681f;
}

.dragon-ball::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: #f7941d;
}

.dragon-ball::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #f36523;
}

.dragon-ball .star {
  position: absolute;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  top: 18px;
  left: 18px;
  height: 14px;
  width: 14px;
  background: red;
  z-index: 1;
}

.dragon-ball .shine {
  position: absolute;
  top: 0px;
  left: 6px;
  height: 20px;
  width: 16px;
  clip-path: ellipse(25% 40% at 50% 50%);
  transform: rotate(50deg);
  background: rgb(255, 235, 175);
  z-index: 1;
}

/* projects section */
#projects {
  background-color: purple;
  height: 100vh;
  width: 100%;
}

/* contact section */
#contact {
  background-color: green;
  height: 100vh;
  width: 100%;
}
